body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color:#d5d5d5 !important;
}

nav {
    padding: 10px;
    background-color: #4e4b63 !important;
    border: hidden;
    color: #fff;
}

h2 {
    color: #140d44;
}

a {
    text-decoration: none !important;
    color:#140d44;
}

a:hover {
    color: #f4511e;
}

.post-detail {
    border-radius: 5px;
    border-color: #263238 !important;
}

.post-detail:hover {
    background-color: #f1f1f1;
    color: #bf360c;
}

.under_navbar {
    margin-top: 100px;
    max-width: 100%;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.title {
    font-size: 25px
}

.content {
    font-size: 18px;
    padding-bottom: 15px;
}

.well {
    position: relative;
    padding: 5px;
    padding-top: 15px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

.date {
    position: absolute;
    top: 70px;
    border: 1px solid #78909c;
    border-radius: 13px 5px 13px 5px;
    padding: 3px;
    text-align: center;
    color: #78909c;
}

.author {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #78909c;
}

.content-align {
    word-wrap: break-word;
}

.tab {
    margin: 0 30px;
}


a#home,
#navbar li a {
    color: #fff;
    font-size: 19px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#nav-dropdown li a {
    color: #263238;
}

#nav-icons li a:hover,
.navbar-right li a span:hover {
    color: #b0bec5;
}

ul {
    list-style-type: none;
}

.navbar-brand {
    margin: 0px;
    border-right:2px dashed #d84315;
    font-size: x-large;
    overflow: auto !important;
}

.navbar-right {
    margin-right: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #263238;
}

.storya {
    color: black
}

.storya:hover {
    color: black;
    text-decoration:inherit;
}

.storya:focus {
    color: black;
    text-decoration:inherit;
}

/* Push */
@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

#footer {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #37474f;
    color: #FFF;
    width: 100%;
    margin-top: 20px;
    z-index: 999;
}

#order {
    float: left;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    border-right: 2px solid #000;

}

#border {
    margin-top: 45px;
    width: 15px;
    -moz-transform: rotate(-90deg);
    text-align: center;
    text-decoration: italic;
}

#score_star {
    position: absolute;
    top: 5px;
    float: right;
    color: #ef5350;
    font-size: 50px;
}

.content-score {
    position: absolute;
    left: 45px;
    top: 23px;
    font-size: 16px;
    background: grey;
    color: white;
    text-align: center;
    z-index: 1;
}

.top-content {
    word-wrap: break-word
}

.post-detail {
    position: absolute;
    border: 1px solid #000;
    padding: 5px;
    
}

#like-dislike {
    display: block;
}

.icons {
    font-size: 17px;
}