{% extends "storyboard/base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <form action="." method="POST">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
                {% bootstrap_form form %}
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>
    </div>
</div>
{% endblock %}