<head>
{% extends 'storyboard/bootstrap.html' %}
{% load bootstrap3 %}

{% block bootstrap3_title %}
    Let's tell a tale!
{% endblock %}

{% block bootstrap3_content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<div id="wrapper">
    <div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="home" href="/">CRESTORY</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a class="hvr-push" href="{% url 'top10' %}">EN İYİ HİKAYELER</a></li>
                    <li><a class="hvr-push" href="{% url 'add_story' %}">YENİ HİKAYE OLUŞTUR</a></li>
                   
                </ul>
                <ul class="nav navbar-nav navbar-right" id="nav-icons">
                    <ul class="nav navbar-nav navbar-right nav-hide">
                        {% if not request.user.is_authenticated %}
                            <li><a href="{% url 'login' %}"><span class="glyphicon "></span>Giriş Yap</a></li>
                            <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Kaydol</a></li>
                        {% else %}
                            <li><a href="#">Merhaba, {{ request.user.username }}</a></li>
                            <li><a href="{% url 'logout' %}"><span class='glyphicon '></span> Çıkış Yap</a></li>
                        {% endif %}
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
    </div>
    <div class="container-fluid under_navbar" id="body">
        {% block content %}
        {% endblock %}
    </div>

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

{% block javascript %}
{% endblock %}
{% endblock %}
