{% extends "storyboard/base.html" %}
{% load bootstrap3 %}

{% block content %}
<h2 style="text-align: center">Yeni Bir Hikaye Oluşturun.</h2>

{% if request.user.is_authenticated %}
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <form action="." method="POST">
             {% csrf_token %}
             {% bootstrap_form form %}
        
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>
{% endif %}
<br><br>
<h2 style="text-align: center">En Son Yazılan Hikayeler</h2>
<br><br>
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <ul>
            {% for post in post_list|dictsortreversed:"id" %}
                <div class="well row">
                    <div class="col-sm-9">
                        <li>
                            <p>
                                <a href="{% url 'story_detail' pk=post.pk %}" class="title">{{ post.title|title}}</a>
                            </p>
                            <p class="content">{{ post.content|truncatewords:5 }}</p>
                    </div>
                    <div class="col-sm-3">
                        <div class="date">
                            {{ post.creation_time }}
                        </div>
                        </li>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}