{% extends "storyboard/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <div class="title">
            <blockquote>
                <p><i>{{ top.content|capfirst }}</i></p>
                <footer>{{ top.author.username }}</footer>
            </blockquote>
        </div>
        <br>
        <div class="title"><strong>{{ story_list.0.title|title }}</strong></div>
        <br>
        {% for story in story_list  %}
            <a id="{{ story.id }}"
                href="#"
                class="storya content"
                style="color:black" :hover
                role="button"
                data-container="body"
                data-toggle="popover"
                #data-trigger="focus"
                data-placement="top"
                data-html="auto"
                title="Added by {{ story.author }} <span style:'align:right' class=' glyphicon glyphicon-remove' id=close_button></span>"
                data-content='<div style="text-align:center" >
                                    <a href="..\{{ story.id }}" class="glyphicon glyphicon-copy icons" aria-hidden="true"></a>
                                    <span style="color:#006b0d" class="glyphicon glyphicon-chevron-up icons like_dislike" name={{story.id}} id="like_button" aria-hidden="true" type="true"></span>
                                    <strong><span class="boru icons"></span>
                                    <span style="color:#a92200" class="glyphicon glyphicon-chevron-down icons like_dislike" name={{story.id}} id="dislike_button" aria-hidden="true" type="false"></span>
                              </div>'>
                {{ story.content|capfirst }}
            </a>
        {% endfor %}
        <p>
            {% if object.children.count > 0 %}
                 Bir bölüm seçin:
            {% endif %}
            {% for child in object.children.all %}
            <div class="post-detail">
                <a href="{% url 'story_detail' pk=child.pk %}">{{ forloop.counter }}. {{ child.content|truncatechars:15 }} </a> Puan: {{child.score}}
            </div><br><br>
            {% empty %}
                </p>
                <p>SON</p>
            {% endfor %}

        <br><br>
        {% if request.user.is_authenticated %}
        {% if object.children.count < 3 %}
            <form action="." method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">GÖNDER</button>
            </form>
        {% else %}
            <div>Maximum kelime limitini doldurdunuz.Lütfen okuyunuz.</div>
        {% endif %}
        {% else %}
            Hikayeye sizde bir şeyler yazmak istiyorsanız lütfen giriş yapınız!
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $(function () {
    $('[data-toggle="popover"]').popover()
    });
    $('[data-toggle="popover"]').click(function () {
    });
    $('.storya').click(function() {
        var id = $(this).context.attributes.id.value;

    $.ajax({
        url: '{% url "ulr" %}',
        data: {
            'id': id
        },
        dataType: "json",
        success: function(data) {
            $('.boru').text(data.score);
        }
    });
    });
    $(document).on("click", ".like_dislike", function() {
        var id = $(this).context.attributes.name.value;
        var button_val = $(this).context.attributes.type.value;
        $.ajax({
            data: {
                "like": button_val,
                "id": id
            },
            url: "{% url "like_dislike" %}",
            success: function (data) {
                $('.boru').text(data.like);
            }
        }
    )});
    $(document).on("click", "#close_button", function() {
         $('[data-toggle="popover"]').popover("hide").popover();
});
</script>
{% endblock %}

