{% extends "storyboard/home.html" %}

{% block content %}
    <h2 style="text-align: center">En Son Güncellenen Hikayeler</h2>
    <br><br>
    <div class="container content-align">
        <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
            <ul>
                {% for post, child_date in object_list %}
                    <div class="well row">
                        <div class="col-sm-9">
                            <p>
                                <a href="{% url 'story_detail' pk=post.pk %}" class="title">{{ post.title|title }}</a>
                            </p>
                            <p class="content tab">{{ post.content|truncatechars:50 }}<br><br></p>
                        </div>
                        <div class="col-sm-3">
                            <div class="author">Yazar: {{ post.author.username }}</div>
                            <div class="date">
                                {{ child_date }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div style="text-align :center">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

{% for user, score in top_users %}
    {{ user }}: {{ score }}
{% endfor %}
{% endblock %}

