{% extends "storyboard/base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container content-align">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        <form action="." method="POST", class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                     Kayıt Ol
                </button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
