{% extends "storyboard/base.html" %}

{% block content %}
<h2 style="text-align: center">En İyi 10 Hikaye</h2>
<br><br>
<div class="container">
    <div class="col-md-offset-2 col-md-8 col-xs-offset-1 col-xs-10">
        {% for no, post, score_sum in object_list%}
            <div class="well row">
                <div class="col-sm-1" id="order">
                    {{ no }}
                </div>
                <div class="col-sm-1" id="border">
                    {{ post.author }}
                </div>
                    <div class="col-sm-9 top-content">
                    <a href="{% url 'story_detail' pk=post.pk %}" class="title">{{ post.title|title }}</a>
                        <p>{{ post.content }}</p>
                </div>
                <div class="col-sm-1" style="position:relative">
                    <i class="glyphicon glyphicon-heart" id="score_star"></i>
                    <span class="badge shoppingBadge content-score">{{ score_sum }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}